html,
body {
  height: 100%; /* Varmistaa, että html ja body ovat 100% korkeita */
  margin: 0; /* Poistaa oletusmargin */
}

body {
  display: flex; /* Käyttää flexboxia */
  flex-direction: column; /* Asettuu pystysuunnassa */
  margin: 0 auto;
  text-align: center;
  background-color: rgb(228, 240, 251);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  padding: 20px;
  background-color: rgb(63, 63, 81);
  color: white;
}

h1 {
  margin: 0;
  line-height: 1.5;
  padding-bottom: 10px;
}

.demo {
  font-size: 1rem;
}

main {
  text-align: center;
  max-width: 1000px;
  flex: 1; /* Ottaa kaiken tilan, joka ei ole varattu headerille ja footerille */
}

.news-item img {
  max-width: 100%; /* Varmistaa, että kuva ei ylitä vanhemman elementin leveyttä */
  height: auto; /* Säilyttää kuvasuhteen */
}

#news-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.news-item {
  background-color: #f7f2f2;
  border: 4px solid #dedee2;
  border-radius: 8px;
  padding: 1rem;
  text-align: left;
  margin: 5%;
  transition: transform 0.2s ease-in-out;
}

.news-item:hover {
  transform: translateY(-5px);
}

.news-item h4 {
  margin-top: 0;
  font-size: 1.2rem;
}

.news-item p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.news-item a {
  display: block;
  text-align: right;
  color: #007bff;
  text-decoration: none;
  font-size: 0.9rem;
}

.news-item a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .news-item {
    padding: 0.8rem;
  }

  .news-item h4 {
    font-size: 1.1rem;
  }

  .news-item p {
    font-size: 0.9rem;
  }
}

footer {
  background-color: rgb(63, 63, 81);
  color: white;
  font-size: small;
  padding: 40px 30px;
}

footer a {
  color: rgb(252, 141, 241);
  font-size: small;
}
